{% extends 'base.html' %}
{% block title %}Digital Guide Nepal{% endblock %}
{%block content %}


 <body>
    
        <div class="account">
            <!-- Top Bar Start -->
            {%include 'topnav.html'%}
            <!-- Top Bar End -->


            {%include 'navbar.html'%}  
            

 <div class="cont" style="margin-top: 40px;">
        <div class="form sign-in">
            <h2>Welcome</h2>
            <form method="post">
                {% csrf_token %}
            <label>
                <span>Username</span>
                <input type="name" name="user" />
            </label>
            <label>
                <span>Password</span>
                <input type="password" name="pass"/>
            </label>
            <p class="forgot-pass">
                <a href="{% url 'reset_password'%}">Forgot password?</a>
                
            </p>
            <input type="hidden" id="custId" name="choice" value="login">
            <button type="submit" class="submit">Sign In</button>
        </form>
         
        </div>
        <div class="sub-cont">
            <div class="img">
                <div class="img__text m--up">
                 
                    <h3>Don't have an account? Please Sign up!<h3>
                </div>
                <div class="img__text m--in">
                
                    <h3>If you already has an account, just sign in.<h3>
                </div>
                <div class="img__btn">
                    <span class="m--up">Sign Up</span>
                    <span class="m--in">Sign In</span>
                </div>
            </div>
            <div class="form sign-up">
                <h2>Create your Account</h2>
                <form method="post">
                    {% csrf_token %}
                    <label>
                        <span>Username</span>
                        <input type="text" name="user" />
                    </label>
                    <label>
                        <span>Email</span>
                        <input type="email" name="email"  />
                    </label>
                    <label>
                        <span>Password</span>
                        <input type="password" name="pass" />
                    </label>
                    <input type="hidden" id="custId" name="choice" value="signup">
                    <button type="submit" class="submit">Sign Up</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        document.querySelector('.img__btn').addEventListener('click', function() {
            document.querySelector('.cont').classList.toggle('s--signup');
        });
    </script>

        </div>


    </body>
    {%if error %}
<script>
  swal({
    icon: "error",
    title: "{{error}}",
  });
</script>
{%endif%}

{%endblock%}
   