<!-- Nav Bar Start -->
<div class="nav-bar">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
      <a href="#" class="navbar-brand">MENU</a>
      <button
        type="button"
        class="navbar-toggler"
        data-toggle="collapse"
        data-target="#navbarCollapse"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="collapse navbar-collapse justify-content-between"
        id="navbarCollapse"
      >
        <div class="navbar-nav mr-auto">
          <a href="{%url 'website:homepage' %}" class="nav-item nav-link  {% if request.resolver_match.view_name == 'website:homepage'%}active{%endif%}"
            >Home</a
          >
          <a href="{%url 'website:about' %}" class="nav-item nav-link {% if request.resolver_match.view_name == 'website:about'%}active{%endif%}">About</a>
          <a href="{%url 'website:service_list' %}" class="nav-item nav-link"
            >Service</a
          >
          <a href="{%url 'website:teams' %}" class="nav-item nav-link {% if request.resolver_match.view_name == 'website:teams'%}active{%endif%}">Team</a>
          <a href="{%url 'website:project_list' %}" class="nav-item nav-link {% if request.resolver_match.view_name == 'website:project_list'%}active{%endif%}"
            >Project</a
          >
          <a href="{%url 'website:blog_list' %}" class="nav-item nav-link {% if request.resolver_match.view_name == 'website:blog_list'%}active{%endif%}"
            >Blogs</a
          >
          <a href="{%url 'website:contact' %}" class="nav-item nav-link {% if request.resolver_match.view_name == 'website:contact'%}active{%endif%}"
            >Contact</a
          >
          {% if request.session.username %}

          <div class="dropdown mt-1">
            <button
              class="btn dropdown-toggle border-none"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              {{request.session.username}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a
                class="dropdown-item"
                href="{%url 'website:profile' request.session.user_id %}"
                >Profile</a
              >

              <a class="dropdown-item" href="{% url 'website:logout'%}"
                >Logout</a
              >
            </div>
          </div>
          {% else %}
          <a href="{%url 'website:account' %}" class="nav-item nav-link"
            >Account</a
          >
          {%endif%}
        </div>
        <div class="ml-auto">
          <a class="btn" href="#">Get A Quote</a>
        </div>
      </div>
    </nav>
  </div>
</div>
<!-- Nav Bar End -->
