{% extends 'base.html' %} {% block title %}Digital Guide Nepal{% endblock %}
{%load static%} 
{%load sociallink%}
{%block content%}

<style>
  @media screen and (min-width: 600px) {
    .children form {
      margin-left: -48px;
      /* will touch very left side */
    }

    .children .children form {
      margin-left: -96px;
      /* will touch very left side */
    }
  }
  #myForm > p {
    padding: 0px 50% 0px 0px !important;
  }

   .comment-add {
    border-bottom: 1px solid #ccc !important;
  }

  .comment-add:focus {
    border-color: #1497ff;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 0px rgba(255, 0, 0, 0.6);
  }

  .node-content {
    padding-left: 64px;
  }
.avatar_comment,.avatar_comment1,.avatar_single {
    height: 48px;
    width: 48px;
    background-color: #000;
    border-radius: 50%;
    display: inline-block;

  }
</style>
<body>
  <div class="wrapper">
    <!-- Top Bar Start -->
    {%include 'topnav.html'%}
    <!-- Top Bar End -->

    <!-- Nav Bar Start -->
    {%include 'navbar.html'%}
    <!-- Nav Bar End -->

    <!-- Page Header Start -->
    <div class="page-header">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2>Blog Details</h2>
          </div>
          <div class="col-12">
            <a href="">Home</a>
            <a href="">Blog Details</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Page Header End -->

    <!-- ======= Blog Details Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row g-5">
          <div class="col-lg-8">
            <article class="blog-details">
              <div class="post-img">
                <img src="{{blog.blog_image.url}}" alt="" class="img-fluid" />
              </div>

              <h2 class="title">{{blog.blog_title}}</h2>

              <div class="meta-top">
                <ul>
                  <li class="d-flex align-items-center">
                    <i class="fa fa-clock"></i>
                    <a href="blog-details.html"
                      ><time datetime="2020-01-01"
                        >{{blog.created_date}}</time
                      ></a
                    >
                  </li>
                  <li class="d-flex align-items-center">
                    <i class="fa fa-comment"></i
                    ><a href="blog-details.html">{{total_comment}} Comments</a>
                  </li>
                </ul>
              </div>
              <!-- End meta top -->

              <div class="content">
                <p>{{blog.blog_description | linebreaks }}</p>
              </div>
              <!-- End post content -->
            </article>
            <!-- End blog post -->
            <span id="thumbs" data-value="{{blog.id}}"></span>

            <div class="comments">
              {% with allcomments.count as total_comments %}
              <h4 class="comments-count" id="tcomment">
                {{ total_comments }} comment{{ total_comments|pluralize }}
              </h4>
              {% endwith %} 


              <div class="col-md-8">

                {% load mptt_tags %}
                <div class="allcommments" style="width: 158%;">

                  {% recursetree allcomments %}
                  <div id="{{ node.id }}" class="my-2 p-2" style="border: 0px solid grey">


                    <div class="d-flex justify-content-between">

                      <div>
                        {% if node.user.avatar %}
                        <img class="avatar_single mr-3" src="{{ node.user.avatar.url }}">
                        {% else %}
                        <img class="avatar_single mr-3" src="{%static 'img/user.jpg'%}">
                        {%endif%}
                        By {{ node.user.username }}</div>
                      {{ node.created }}


                    </div>

                    <div class="node-content">{{ node.content }}</div>
                    

                    <div class="d-flex flex-row-reverse">
                      {%if node.user.username%}
                      {% if node.level < 3 %}
                      {% if node.user.username|stringformat:"s" == request.user.username  %}
                      <button class="btn btn-primary btn-sm " onclick="myFunction('{{ node.id }}')" >Reply</button>
  
                      {%endif%}
                     {% endif %}
                      {% if node.user.username|stringformat:"s" == request.user.username  %} 
                      <button class="btn btn-danger btn-sm mr-2" onclick="deleteComment('{{ node.id }}')">Delete</button>
                       {% endif %} 
                       {%endif%}
                    </div>
                   
                    <hr />
                    {% if not node.is_leaf_node %}
                  <div class="children pl-2 pl-md-5">
                    {{ children }}
                  </div>
                  {% endif %}
                  </div>
                  
                  <form id="replyform" method="post" class="d-none" id="{{node.id}}"> 
                      {% csrf_token %} 
                      <select name="parent" class="d-none" id="id_parent"> 
                <option value="' +id +
                      '" selected="' +
                      id +
                      '"></option> 
                </select> 
                      <div class="d-flex"> 
                        <img class="avatar_comment align-self-center" src=""> 
                        <textarea name="content" cols="40" rows="1" class="ml-3 mb-3 form-control border-0 comment-add rounded-0" placeholder="Add a reply" required="" id="id_content"></textarea> 
                      </div> 
                      <div class="d-flex flex-row-reverse"> 
                        <button  type="submit" class="mr-1 btn btn-primary ">Submit</button> 
                      </div> 
                    </form>
                  {% endrecursetree %}

                </div>
              </div>
              

              <div class="py-4">
                <nav aria-label="Page navigation example">
                  {% if comments.has_other_pages %}
                  <ul class="pagination">
                    {% if comments.has_previous %}
                    <li class="page-item">
                      <a
                        class="page-link"
                        href="?page={{ comments.previous_page_number }}"
                        >Previous</a
                      >
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                      <a class="page-link" href="#">Previous</a>
                    </li>
                    {% endif %} {% for num in comments.paginator.page_range %}
                    {% if comments.number == l %}
                    <li class="page-item active">
                      <span class="page-link"
                        >{{ num }} <span class="sr-only">(current)</span></span
                      >
                    </li>
                    {% else %}
                    <li>
                      <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                    {% endif %} {% endfor %} {% if comments.has_next %}
                    <li class="page-item">
                      <a
                        class="page-link"
                        href="?page={{ comments.next_page_number }}"
                        >Next</a
                      >
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                      <a class="page-link" href="#">Next</a>
                    </li>
                    {% endif %}
                  </ul>
                  {% endif %}
                </nav>
              </div>
              {%if request.session.username %}
              <form id="commentform" class="commentform" method="post" action="{% url 'website:blog-detail' blog.id %}">
                {% csrf_token %}
             
                <select name="blog" class="d-none" id="id_blog">
                  <option value="{{blog.id}}" id="blog_id"  selected="{{blog.id}}"></option>
                </select>
                <label class="small font-weight-bold">{{comment_form.parent.label}}</label>
                {{comment_form.parent}}
                <div class="d-flex">
                  {% if request.user.avatar %}
                        <img class="avatar_comment1 align-self-center" src="{{ request.user.avatar.url }}">
                        {% else %}
                        <img class="avatar_comment1 align-self-center" src="{%static 'img/user.jpg'%}">
                        {%endif%}
                  {{comment_form.content}}
                </div>
                <div class="d-flex flex-row-reverse">
                  <button value="commentform" id="newcomment" type="submit" class="newcomment btn btn-primary">Submit</button>
                </div>
              </form>
              {%else%}
              <h5 class="ml-4 mt-3 ">Sign in to comment <a href="{%url 'website:account'%}" class="btn btn-link">click here</a></h5>
              {%endif%}
              

              <!-- End blog comments -->
            </div>
          </div>


          <div class="col-lg-4">
            <div class="sidebar">
              <div class="sidebar-item search-form">
                <h3 class="sidebar-title">Search</h3>
                <form action="" method="get" class="mt-3">
                  <input type="text" name="query" />
                  <button type="submit">
                    <img src="{%static 'img/search.svg'%}" />
                  </button>
                </form>
              </div>
              <!-- End sidebar search formn-->

              <div class="sidebar-item recent-posts">
                <h3 class="sidebar-title">Recent Posts</h3>

                <div class="mt-3">
                  {%for blog in blog_list%}
                  <div class="post-item">
                    <img src="{{blog.blog_image.url}}" alt="" />
                    <div>
                      <h4>
                        <a href="blog-details.html">{{blog.blog_title}}</a>
                      </h4>
                      <time>{{blog.created_date}}</time>
                    </div>
                  </div>
                  <!-- End recent post item-->
                  {%endfor%}
                </div>
              </div>
              <!-- End sidebar recent posts-->
            </div>
            <!-- End Blog Sidebar -->
          </div>
        </div>
      </div>
    </section>
    <!-- End Blog Details Section -->

    <!-- Footer Start -->
    {%include 'footer.html'%}
    <!-- Footer End -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  </div>
</body>




{% block extrajs %}

              <script>

               $(document).on('click', '#newcomment, #newcommentinner', function (e) {
                  e.preventDefault();

                  var button = $(this).attr("value");

                  var placement = "commentform"
                  if (button == "newcommentform") {
                    var placement = "newcommentform"
                  }

                  $.ajax({
                    type: 'POST',
                    url: '{% url "website:addcomment" %}',
                    data: $("#" + button).serialize(),
                    cache: false,
                    success: function (json) {
                      console.log(json)


                      $('<div id="" class="my-2 p-2" style="border: 1px solid grey"> \
                        <div class="d-flex justify-content-between">By ' + json['user'] + '<div></div>Posted: Just now!</div> \
                        <div>' + json['result'] + '</div> \
                        <hr> \
                        </div>').insertBefore('#' + placement);

                      $('.commentform').trigger("reset");
                      formExit();

                    },
                    error: function (xhr, errmsg, err) {

                    }
                  });
                });

     
                

                 function deleteComment(id) {
                  console.log(id)
                  var blogid = document.getElementById('thumbs').getAttribute('data-value');
                  $.ajax({
                    type: 'POST',
                    url: '{% url "website:addcomment" %}',
                    data: {
                      blogid: blogid,
                      nodeid: id,
                      action: 'delete',
                      csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    },
                    success: function (json) {
                      $("#" + json['remove']).remove();
                      document.getElementById('tcomment').innerText= json['total_comment']+ "  comments";

                    },
                    error: function (xhr, errmsg, err) {}
                  });
                }

                
                
                function formExit() {
                    document.getElementById("newcommentform").remove();
                   
                }
                
                 function myFunction(id) {
                  if (document.contains(document.getElementById("newcommentform"))) {
                    document.getElementById("newcommentform").remove();
                  }
                  var blogid = document.getElementById('thumbs').getAttribute('data-value');
                  console.log(blogid)
                  var imgFullURL = $('img.avatar_comment1')[0].src;
                  console.log("image url "+ imgFullURL)
                  var d1 = document.getElementById(id);
                
                
                  d1.insertAdjacentHTML('afterend',
                  
                    '<form id="newcommentform" class="commentform" method="post" > \
                      {% csrf_token %} \
                      <select name="blog" class="d-none" id="id_blog"> \
                        <option value="' + blogid + '" selected="' + blogid + '"></option> \
                      </select> <label class="small font-weight-bold"></label> \
                      <select name="parent" class="d-none" id="id_parent"> \
                        <option value="' + id + '" selected="' + id + '"></option> \
                      </select> \
                      <div class="d-flex"> \
                        <img class="avatar_comment align-self-center" src="' + imgFullURL + '"> \
                        <textarea name="content" id="id_content" cols="40" rows="1" class="ml-3 mb-3 form-control border-0 comment-add rounded-0" placeholder="Add a public comment" required="" ></textarea> \
                      </div> \
                      <div class="d-flex flex-row-reverse"> \
                      <button type="button" class="btn btn-outline-secondary btn-sm" onclick="formExit()">Close</button> \
                        <button value="newcommentform" id="newcommentinner" type="submit" class="mr-1 btn-sm newcomment btn btn-primary ">Submit</button> \
                      </div> \
                    </form>'
                  );
                }   
                

        



                function myFunction1(id,content) {
                  if (document.contains(document.getElementById("newcommentform"))) {
                    document.getElementById("newcommentform").remove();
                  }
                  var blogid = document.getElementById('thumbs').getAttribute('data-value');
                  console.log(blogid)
                  var imgFullURL = $('img.avatar_comment')[0].src;
                  var d2 = document.getElementById(id); 
                  console.log(id)  
                  console.log(content) 
                 
                            
                  d2.insertAdjacentHTML('afterend',
                   
                    '<form id="newcommentform" class="commentform" method="post"  > \
                      {% csrf_token %} \
                      <select name="blog" class="d-none" id="id_blog"> \
                        <option value="' + blogid + '" selected="' + blogid + '"></option> \
                      </select> <label class="small font-weight-bold"></label> \
                      <select name="parent" class="d-none" id="id_parent"> \
                        <option value="' + id + '" selected="' + id + '"></option> \
                      </select> \
                      <div class="d-flex"> \
                        <img class="avatar_comment align-self-center" src="' + imgFullURL + '"> \
                        <textarea name="content"  cols="40" rows="1" class="ml-3 mb-3 form-control border-0 comment-add rounded-0" placeholder="Add a public comment" required="" id="id_content1"></textarea> \
                      </div> \
                      <div class="d-flex flex-row-reverse"> \
                      <button type="button" class="btn btn-outline-secondary" onclick="formExit()">Close</button> \
                        <button value="newcommentform" id="newcommentinner1" onclick="" type="submit" class="mr-1 newcomment btn btn-primary ">Submit</button> \
                      </div> \
                    </form>'

                  );
                  document.getElementById("id_content1").innerText = content;

                } 
                          $('.commentform').trigger("reset");


              </script>


{% endblock %}
{%endblock%}
