{% extends 'base.html' %} {% block title %}Digital Guide Nepal{% endblock %}
{%load static%} {%block content %}
<body>
  <div class="wrapper">
    <!-- Top Bar Start -->
    {%include 'topnav.html'%}
    <!-- Top Bar End -->

    {%include 'navbar.html'%}

    <!-- Carousel Start -->
  <br>
    
    <div class="container">
      <div class="row">
          <div class="col-md-6" >
              <div class="section-header text-left">
                  <h2>Welcome to Digital Guide Nepal</h2>
              </div>
              <div class="row align-items-center">
                <div class="about-text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id gravida condimentum, viverra quis sem.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id gravida condimentum, viverra quis sem. Curabitur non nisl nec nisi scelerisque maximus. Aenean consectetur convallis porttitor. Aliquam interdum at lacus non blandit.
                    </p>
                </div>
              </div>
          </div>
          <div class="col-md-6">
            <div class="about-text">
              <div class="row align-items-center">
                <span style="font-weight: bold;" class="Sphere"></span>
              </div>
            </div>
          </div>
      </div>
  </div>
    

  <!-- Including the TagCloud.js script CDN in the document    -->
  <script src="https://cdn.jsdelivr.net/npm/TagCloud@2.2.0/dist/TagCloud.min.js"> </script>
  <script>
      const Texts = [
          'SEO', 'HOSTING', 'WEB-SITE',
          'S-MEDIA-MANAGEMENT', 'DOMAIN-NAME', 'DATA-MANAGEMENT',
          'SECURITY-MANAGEMENT', 'APP-DEVELOPMENT',
          'SYSTEM-DEVELOPMENT', 'MAINTENANCE', '2D/3D-ANIMATION',
          'GRAPHIC DESIGN', 'ADS-VIDEO', 'SHORT-FILMS', 'ALBUM-SONG'
      ];

      var tagCloud = TagCloud('.Sphere', Texts, {

          // Sphere radius in px
          radius: 150,

          // animation speed
          // slow, normal, fast
          maxSpeed: 'normal',
          initSpeed: 'fast',

          // Rolling direction [0 (top) , 90 (left), 135 (right-bottom)] 
          direction: 90,

          // interaction with mouse or not [Default true (decelerate to rolling init speed, and keep rolling with mouse).]
          keep: true

      });

      // Giving color to each text in sphere
      var color = '#DA1212 ';
      document.querySelector('.Sphere').style.color = color;
    </script>

    <!-- Carousel End -->

    <!-- Feature Start-->
    <div class="feature wow fadeInUp" data-wow-delay="0.1s">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-lg-4 col-md-12">
            <div class="feature-item">
              <div class="feature-icon">
                <i class="flaticon-worker"></i>
              </div>
              <div class="feature-text">
                <h3>Expert Worker</h3>
                <p>
                  Lorem ipsum dolor sit amet elit. Phasus nec pretim ornare
                  velit non
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="feature-item">
              <div class="feature-icon">
                <i class="flaticon-building"></i>
              </div>
              <div class="feature-text">
                <h3>Quality Work</h3>
                <p>
                  Lorem ipsum dolor sit amet elit. Phasus nec pretim ornare
                  velit non
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="feature-item">
              <div class="feature-icon">
                <i class="flaticon-call"></i>
              </div>
              <div class="feature-text">
                <h3>24/7 Support</h3>
                <p>
                  Lorem ipsum dolor sit amet elit. Phasus nec pretim ornare
                  velit non
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Feature End-->

    <!-- About Start -->
    <div class="about wow fadeInUp" data-wow-delay="0.1s">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-5 col-md-6">
            <div class="about-img">
              <img
                class="img-fluid"
                height="150"
                width="100"
                src="{{about.company_image.url}}"
                alt="Image"
              />
            </div>
          </div>
          <div class="col-lg-7 col-md-6">
            <div class="section-header text-left">
              <h2>
                <div class="row">
                  <div class="col-md-2">
                    <img
                      class="img-fluid"
                      height="150"
                      width="100"
                      src="{{about.company_logo.url}}"
                      alt="Image"
                    />
                  </div>
                  <div class="col-md-10">{{about.company_name}}</div>
                </div>
              </h2>
            </div>
            <div class="about-text">
              <p>{{about.company_description}}</p>

              <a class="btn" href="{%url 'website:about'%}">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- About End -->

    <!-- Fact Start -->
    <div class="fact">
      <div class="container-fluid">
        <div class="row counters">
          <div class="col-md-6 fact-left wow slideInLeft">
            <div class="row">
              <div class="col-6">
                <div class="fact-icon">
                  <img height="60px" width="60px" src="{% static 'img/1.png' %}" alt="Image" />
                </div>
                <div class="fact-text">
                  <h2 data-toggle="counter-up">50</h2>
                  <p>Expert Workers</p>
                </div>
              </div>
              <div class="col-6">
                <div class="fact-icon">
                  <img height="60px" width="60px" src="{% static 'img/2.png' %}" alt="Image" />
                </div>
                <div class="fact-text">
                  <h2 data-toggle="counter-up">7</h2>
                  <p>Happy Clients</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 fact-right wow slideInRight">
            <div class="row">
              <div class="col-6">
                <div class="fact-icon">
                  <img height="60px" width="60px" src="{% static 'img/3.png' %}" alt="Image" />
                </div>
                <div class="fact-text">
                  <h2 data-toggle="counter-up">7</h2>
                  <p>Completed Projects</p>
                </div>
              </div>
              <div class="col-6">
                <div class="fact-icon">
                  <img height="60px" width="60px" src="{% static 'img/4.png' %}" alt="Image" />
                </div>
                <div class="fact-text">
                  <h2 data-toggle="counter-up">10</h2>
                  <p>Running Projects</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Fact End -->

    <!-- Service Start -->
    <div class="service">
      <div class="container">
        <div class="section-header text-center">
          <p>Our Services</p>
          <h2>We Provide Services</h2>
        </div>
        <div class="row">
          {%for service in services%}
          <div class="col-lg-4 col-md-6 wow fadeInUp">
            <div class="service-item">
              <div class="service-img">
                <img height="200px" width="200px" src="{{service.service_image.url}}" alt="Image" />
                <div class="service-overlay">
                  <p>{{service.description|truncatechars:250}}</p>
                </div>
              </div>
              <div class="service-text">
                <h3>{{service.name}}</h3>
                <a
                  class="btn"
                  href="{%url 'website:service_detail' service.id %}"
                  >+</a
                >
              </div>
            </div>
          </div>
          {%endfor%}
        </div>
      </div>
    </div>

    <!-- Service End -->



    <!-- Team Start -->
    <div class="team">
      <div class="container">
        <div class="section-header text-center">
          <p>Our Team</p>
          <h2>Meet Our Teams</h2>
        </div>
        <div class="row">
          {%for team in teams %}
          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="team-item">
              <div class="team-img">
                <img src="{{team.image.url}}" alt="Team Image" />
              </div>
              <div class="team-text">
                <h2>{{team.name}}</h2>
                <p>{{team.designation}}</p>
              </div>
              <div class="team-social">
                <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
                <a class="social-fb" href=""
                  ><i class="fab fa-facebook-f"></i
                ></a>
                <a class="social-li" href=""
                  ><i class="fab fa-linkedin-in"></i
                ></a>
                <a class="social-in" href=""
                  ><i class="fab fa-instagram"></i
                ></a>
              </div>
            </div>
          </div>
        {%endfor%}
        </div>
      </div>
    </div>
    <!-- Team End -->

    <!-- Testimonial Start -->
    <div class="testimonial wow fadeIn" data-wow-delay="0.1s">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                          
                            <div class="testimonial-slider-nav">
                              {%for t in testimonials%}
                                <div class="slider-nav">
                                  <img width="150" height="200" src="{{t.image.url}}"  alt="Testimonial">
                                </div>
                              {%endfor%}
                            </div>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="testimonial-slider">
                              {%for testimonial in testimonials%}
                                <div class="slider-item">
                                    <h3>{{testimonial.customer_name}}</h3>
                                    <h4>{{testimonial.profession}}</h4>
                                    <p>{{testimonial.saying}}</p>
                                </div>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <!-- Testimonial End -->

    <!-- Blog Start -->
    <div class="blog">
      <div class="container">
        <div class="section-header text-center">
          <p>Latest Blog</p>
          <h2>Latest From Our Blog</h2>
        </div>
        <div class="row">
          {%for blog in blogs%}
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="blog-item">
              <div class="blog-img">
                <img height="200px" width="200px" src="{{blog.blog_image.url}}" alt="Image" />
              </div>
              <div class="blog-title">
                <h3>{{blog.blog_title}}</h3>
                <a class="btn" href="{%url 'website:blog_detail' blog.id %}"
                  >+</a
                >
              </div>
              <div class="blog-meta">
                <p>By<a href="">Admin</a></p>
                <p>In<a href="">Construction</a></p>
              </div>
              <div class="blog-text">
                <p>{{blog.blog_description|truncatechars:200}}</p>
              </div>
            </div>
          </div>
          {%endfor%}
        </div>
      </div>
    </div>

    <!-- Blog End -->

    <!-- Footer Start -->
    {%include 'footer.html'%}
    <!-- Footer End -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  </div>
</body>
{%endblock%}
