{% extends 'base.html' %} {% block title %}Digital Guide Nepal{% endblock %}
{%load static%}
{%load sociallink%}

{%block content %}
<body>
  <div class="wrapper">
    <!-- Top Bar Start -->
    {%include 'topnav.html'%}
    <!-- Top Bar End -->

    {%include 'navbar.html'%}

    <!-- Carousel Start -->
  <br>
    
    <div class="container">
      <div class="row">
          <div class="col-md-6" >
              <div class="section-header text-left">
                  <h2>Welcome to Digital Guide Nepal</h2>
              </div>
              <div class="row align-items-center">
                <div class="about-text">
                    <p class="pl-3">
                    We at Digital Guide Nepal are committed to provide you the best 
                    solution in digital marketing and also best support in the industry. 
                    Digital Guide Nepal is a web design, Development and Digital 
                    Marketing Company. We have expertise in web design, web 
                    development, ecommerce, Search Engine Optimization (SEO), 
                    Search engine marketing (SEM), Social Branding and online 
                    marketing solutions. Our online marketing strategies ensure the 
                    maximum exposure of your website.
                    </p>
                </div>
              </div>
          </div>
          <div class="col-md-6">
            <div class="about-text">
              <div class="row align-items-center">
                <span style="font-weight: bold;" class="Sphere"></span>
              </div>
            </div>
          </div>
      </div>
  </div>
    

  <!-- Including the TagCloud.js script CDN in the document    -->
  <script src="https://cdn.jsdelivr.net/npm/TagCloud@2.2.0/dist/TagCloud.min.js"> </script>
  <script>
      const Texts = [
          'SEO', 'HOSTING', 'WEB-SITE',
          'S-MEDIA-MANAGEMENT', 'DOMAIN-NAME', 'DATA-MANAGEMENT',
          'SECURITY-MANAGEMENT', 'APP-DEVELOPMENT',
          'SYSTEM-DEVELOPMENT', 'MAINTENANCE', '2D/3D-ANIMATION',
          'GRAPHIC DESIGN', 'ADS-VIDEO', 'SHORT-FILMS', 'ALBUM-SONG'
      ];

      var tagCloud = TagCloud('.Sphere', Texts, {

          // Sphere radius in px
          radius: 150,

          // animation speed
          // slow, normal, fast
          maxSpeed: 'normal',
          initSpeed: 'fast',

          // Rolling direction [0 (top) , 90 (left), 135 (right-bottom)] 
          direction: 90,

          // interaction with mouse or not [Default true (decelerate to rolling init speed, and keep rolling with mouse).]
          keep: true

      });

      // Giving color to each text in sphere
      var color = '#DA1212 ';
      document.querySelector('.Sphere').style.color = color;
    </script>

    <!-- Carousel End -->

    <!-- Service Start -->
    <div class="service">
      <div class="container">
        <div class="section-header text-center">
          <p>Our Services</p>
          <h2>We Provide Services</h2>
        </div>
        <div class="row">
          {%for service in services%}
          <div class="col-lg-4 col-md-6 wow fadeInUp">
            <div class="service-item">
              <div class="service-img">
                <img height="200px" width="200px" src="{{service.service_image.url}}" alt="Image" />
                <div class="service-overlay">
                  <p>{{service.description|truncatechars:250}}</p>
                </div>
              </div>
              <div class="service-text">
                <h3>{{service.name}}</h3>
                <a
                  class="btn"
                  href="{%url 'website:service_detail' service.id %}"
                  >+</a
                >
              </div>
            </div>
          </div>
          {%endfor%}
        </div>
      </div>
    </div>

    <!-- Service End -->

    <!-- Testimonial Start -->
    <div class="testimonial wow fadeIn" data-wow-delay="0.1s">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                          
                            <div class="testimonial-slider-nav">
                              {%for t in testimonials%}
                                <div class="slider-nav">
                                  <img width="150" height="200" src="{{t.image.url}}"  alt="Testimonial">
                                </div>
                              {%endfor%}
                            </div>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="testimonial-slider">
                              {%for testimonial in testimonials%}
                                <div class="slider-item">
                                    <h3>{{testimonial.customer_name}}</h3>
                                    <h4>{{testimonial.profession}}</h4>
                                    <p>{{testimonial.saying}}</p>
                                </div>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <!-- Testimonial End -->

    <!-- Blog Start -->
    <div class="blog">
      <div class="container">
        <div class="section-header text-center">
          <p>Latest Blog</p>
          <h2>Latest From Our Blog</h2>
        </div>
        <div class="row">
          {%for blog in blogs%}
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="blog-item">
              <div class="blog-img">
                <img height="200px" width="200px" src="{{blog.blog_image.url}}" alt="Image" />
              </div>
              <div class="blog-title">
                <h3>{{blog.blog_title}}</h3>
                <a class="btn" href="{%url 'website:blog-detail' blog.id %}"
                  >+</a
                >
              </div>
              <div class="blog-meta">
                <p>By<a href="">Admin</a></p>
                <p>In<a href="">Construction</a></p>
              </div>
              <div class="blog-text">
                <p>{{blog.blog_description|truncatechars:200}}</p>
              </div>
            </div>
          </div>
          {%endfor%}
        </div>
      </div>
    </div>

    <!-- Blog End -->

    <!-- Fact Start -->
    <div class="fact">
      <div class="container-fluid">
        <div class="row counters">
          <div class="col-md-6 fact-left wow slideInLeft">
            <div class="row">
              <div class="col-6">
                <div class="fact-icon">
                  <img height="60px" width="60px" src="{% static 'img/1.png' %}" alt="Image" />
                </div>
                <div class="fact-text">
                  <h2 data-toggle="counter-up">{{totalexpert}}</h2>
                  <p>Expert Workers</p>
                </div>
              </div>
              <div class="col-6">
                <div class="fact-icon">
                  <img height="60px" width="60px" src="{% static 'img/2.png' %}" alt="Image" />
                </div>
                <div class="fact-text">
                  <h2 data-toggle="counter-up">{{home.client}}</h2>
                  <p>Happy Clients</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 fact-right wow slideInRight">
            <div class="row">
              <div class="col-6">
                <div class="fact-icon">
                  <img height="60px" width="60px" src="{% static 'img/3.png' %}" alt="Image" />
                </div>
                <div class="fact-text">
                  <h2 data-toggle="counter-up">{{totalprojects}}</h2>
                  <p>Completed Projects</p>
                </div>
              </div>
              <div class="col-6">
                <div class="fact-icon">
                  <img height="60px" width="60px" src="{% static 'img/4.png' %}" alt="Image" />
                </div>
                <div class="fact-text">
                  <h2 data-toggle="counter-up">{{home.running_project}}</h2>
                  <p>Running Projects</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Fact End -->
    <!-- Footer Start -->
    {%include 'footer.html'%}
    <!-- Footer End -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  </div>
</body>
{%endblock%}
